h1{
    text-align: center;
    font-size: 3em;
}
h4{
    text-align: center;
    font-size: 2em;
}
h3{
    text-align: center;
}
p{
    text-align: center;
    font-size: 1.5em;
    color: #666;
}
.servicios{
    list-style-type: none;
    padding: 0;
}
.referencias{
    background-color:#9faab5;
    padding:10px;
    text-align:center;
}

.referencias{
    background-color:#9faab5;
    padding:10px;
    text-align:center;
    color:white;
    text-decoration:none;
    margin:0 15px;
    padding:10px 15px;
    display:inline-block;
    font-size:16px;
}

.referencias:hover{
    background-color:#1abc9c;
    border-radius:5px;
}
.referencias.active{
    background-color:#34495e;
    border-radius:5px;
}
.servicios{
    list-style-type:none;
    padding:0;
    text-align:center;
}

.servicios li{
    background-color:#0e3c47;
    margin:10px auto;
    padding:12px;
    width:250px;
    border-radius:6px;
    font-size:18px;
    color:white;
    transition:background-color 0.3s;
}

.servicios li:hover{
    background-color:#1abc9c;
}
body{
    margin:0;
    font-family: Arial, sans-serif;

    background-image: url("imagenes/Hotel1_mejorada.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.contenedor{
    width:80%;
    margin:auto;
    margin-top:40px;
    margin-bottom:40px;

    background: rgba(255,255,255,0.9);
    padding:30px;

    border-radius:10px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.5);
}
.contenedor img{
    width:100%;
    height:auto;
    border-radius:10px;
    margin-top:15px;
}
.contenedor img.imgmision{
    width:30%;
    height:auto;
    border-radius:10px;
    margin-top:15px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.contenedor img.imgvision{
    width:30%;
    height:auto;
    border-radius:10px;
    margin-top:15px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.mapa{
    display:block;
    margin:auto;
    margin-top:20px;
    border-radius:10px;
}
.habitacion{
    margin-top:30px;
}
.contenedor img.imgcatalogo{
    width:40%;
    float:left;
    margin-right:20px;
    border-radius:10px;
}
.clear{
    clear:both;
}
.reservar{
    background-color:#1abc9c;
    color:white;
    border:none;
    padding:12px 25px;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;

    display:block;
    margin:15px auto;
}
.reservar:hover{
    background-color:#16a085;
}
.servicios-habitacion{
    list-style-type:none;
    margin-left:750px;
    padding-left:0;
}

.servicios-habitacion li{
    padding-left:25px;
    margin-bottom:6px;
    position:relative;
}

.servicios-habitacion li::before{
    content:"✔";
    position:absolute;
    left:0;
    color:#1abc9c;
    font-weight:bold;
}
.botones-habitacion{
    text-align:center;
    margin-top:15px;
}

.administrar{
    background-color:#e74c3c;
    color:white;
    text-decoration:none;

    padding:12px 25px;
    font-size:18px;

    border-radius:8px;
    font-weight:bold;

    margin-left:10px;
    display:inline-block;
}

.administrar:hover{
    background-color:#c0392b;
}